In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv(r"C:\Users\user\cleaned_recruitment_data.csv")

In [10]:
df.head()

,name,rating,reviews,company_type,Head_Quarters,Company_Age,No_of_Employee,company description,salaries,job_openings
0,TCS,3.9,(32.5k Reviews),Public,"Mumbai,Maharashtra + 217 more",54 years old,1 Lakh+ employees (India),IT Services & Consulting | 1 Lakh+ Employees |...,733.7k Salaries,45 Jobs
1,Accenture,4.0,(22.5k Reviews),Public,"Dublin,Dublin + 125 more",33 years old,1 Lakh+ employees (India),IT Services & Consulting | 1 Lakh+ Employees |...,513.5k Salaries,13.1k Jobs
2,Cognizant,3.9,(20.8k Reviews),Private,"Teaneck,New Jersey + 78 more",28 years old,1 Lakh+ employees (India),IT Services & Consulting | 1 Lakh+ Employees |...,496.7k Salaries,510 Jobs
3,ICICI Bank,4.0,(27.7k Reviews),Public,"Mumbai,Maharashtra + 925 more",28 years old,50k-1 Lakh employees (India),Banking | 1 Lakh+ Employees | Public | 29 year...,137.2k Salaries,194 Jobs
4,HDFC Bank,4.0,(28.4k Reviews),Public,"Mumbai,Maharashtra + 1007 more",28 years old,1 Lakh+ employees (India),Banking | 1 Lakh+ Employees | Public | 29 year...,125.7k Salaries,403 Jobs

In [8]:
df.rename(columns={'no. of job opening': 'job_openings'}, inplace=True)

df_model = df[['Company_Age', 'rating', 'job_openings']].dropna()

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

# Select relevant features (Company Age, Rating) and target variable (Job Openings)
df_model = df[['Company_Age', 'rating', 'job_openings']].dropna()

# Splitting data into features (X) and target (y)
X = df_model[['Company_Age', 'rating']]
y = df_model['job_openings']

# Train-test split (80% training, 20% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
df['Company_Age'] = df['Company_Age'].str.extract(r'(\d+)').astype(float)

In [15]:
print(df['Company_Age'].dtype)  # Should be float or int
print(df['Company_Age'].head())  # Check first few values

float64
0    54.0
1    33.0
2    28.0
3    28.0
4    28.0
Name: Company_Age, dtype: float64

In [16]:
print(df['Company_Age'].unique())

[ 54.  33.  28.  77.  55.  41.  36.  25.  29.   4. 111.  44.  27. 177.
  16.  26.  84.  39.  31.  10. 146.  20.  15.   1.  22.  18.  80.  47.
  34.  70.  35.  23.   6.  74.   9.  11.  12.  13. 157.  24.  30.  43.
  38.  21.  42.  45. 136.  40. 115.  73.  67. 135.  14.  64.  53.  91.
 119.  37. 116.  90.  78.  nan   5.   8.  32.  49.  92. 172. 113. 152.
  86.  46.  76.  17.  50. 138. 118.  79.  63.  58.  97.  68.  48.  99.
  95.  75.  72. 158.  51. 130.  71.  19.  61.  82.  93. 357.  52. 176.
 201. 104. 194.  81.  65. 185.   7. 144.  87. 332.  88. 114.  98. 103.
  83. 159. 501.  60. 210. 169.  69. 100.  57. 125. 141. 160. 156.   3.
  94.  66. 124. 163.  56.  85. 134.  62. 174. 220. 149. 165. 102. 166.
 106. 264. 123. 132.  89.  59. 184. 126. 143. 107. 120. 105. 189. 108.
 175. 183. 234. 162. 188. 198. 151.  96. 168. 131. 155. 181. 140. 258.
 112. 139. 109. 147. 150. 133. 205. 101. 110. 262. 257. 354. 117. 218.
 129. 122. 286.   2. 278. 171. 192. 170. 202. 230. 121.]

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score


df.rename(columns={'job_openings': 'Job_Openings', 'rating': 'Rating', 'company_age': 'Company_Age'}, inplace=True)


df['Company_Age'] = pd.to_numeric(df['Company_Age'], errors='coerce')


df['Job_Openings'] = df['Job_Openings'].astype(str).str.replace(" Jobs", "", regex=False)
df['Job_Openings'] = df['Job_Openings'].replace('--', np.nan)  # Replace '--' with NaN
df['Job_Openings'] = df['Job_Openings'].str.replace('k', '000', regex=False)  # Convert 'k' to '000'
df['Job_Openings'] = pd.to_numeric(df['Job_Openings'], errors='coerce')


df['Rating'] = pd.to_numeric(df['Rating'], errors='coerce')


numeric_cols = ['Company_Age', 'Rating', 'Job_Openings']
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())


df_model = df[numeric_cols].dropna()
X = df_model[['Company_Age', 'Rating']]
y = df_model['Job_Openings']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = LinearRegression()
model.fit(X_train, y_train)


y_pred = model.predict(X_test)


mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)


print(f'Mean Absolute Error: {mae:.2f}')
print(f'Mean Squared Error: {mse:.2f}')
print(f'RÂ² Score: {r2:.2f}')

Mean Absolute Error: 25.83
Mean Squared Error: 3096.14
RÂ² Score: 0.00

In [ ]:
df_numeric = df.select_dtypes(include=['number'])  
print(df_numeric.corr())

                Rating  Company_Age  Job_Openings
Rating        1.000000     0.017325     -0.028282
Company_Age   0.017325     1.000000     -0.050337
Job_Openings -0.028282    -0.050337      1.000000