In [6]:
import pandas as pd

# Load datasets
df1 = pd.read_csv(r"C:\Users\user\Downloads\archive (7)\recruitment.csv")  # First dataset
df2 = pd.read_csv(r"C:\Users\user\Downloads\archive (8)\final.csv")  # Second dataset

# Merge on 'name' column
merged_df = pd.merge(df1, df2, on="name", how="inner")  # Use 'outer' if you want all records

# Display merged dataset
print(merged_df.head())

# Save the merged file
merged_df.to_csv("merged_dataset.csv", index=False)

   Unnamed: 0_x       name  rating_x          reviews company_type  \
0             0        TCS       3.9  (32.5k Reviews)       Public
1             0        TCS       3.9  (32.5k Reviews)       Public
2             0        TCS       3.9  (32.5k Reviews)       Public
3             1  Accenture       4.0  (22.5k Reviews)       Public
4             1  Accenture       4.0  (22.5k Reviews)       Public

                   Head_Quarters   Company_Age             No_of_Employee  \
0  Mumbai,Maharashtra + 217 more  54 years old  1 Lakh+ employees (India)
1  Mumbai,Maharashtra + 217 more  54 years old  1 Lakh+ employees (India)
2  Mumbai,Maharashtra + 217 more  54 years old  1 Lakh+ employees (India)
3       Dublin,Dublin + 125 more  33 years old  1 Lakh+ employees (India)
4       Dublin,Dublin + 125 more  33 years old  1 Lakh+ employees (India)

   Unnamed: 0_y                                company description  rating_y  \
0             0  IT Services & Consulting | 1 Lakh+ Employees |...       3.8
1           200  IT Services & Consulting | 1 Lakh+ Employees |...       3.8
2           400  IT Services & Consulting | 1 Lakh+ Employees |...       3.8
3             1  IT Services & Consulting | 1 Lakh+ Employees |...       4.1
4           201  IT Services & Consulting | 1 Lakh+ Employees |...       4.1

          review         salaries no. of job opening
0  63.1k Reviews  733.7k Salaries            45 Jobs
1  63.1k Reviews  733.7k Salaries            45 Jobs
2  63.1k Reviews  733.7k Salaries            45 Jobs
3  40.3k Reviews  513.5k Salaries         13.1k Jobs
4  40.3k Reviews  513.5k Salaries         13.1k Jobs

In [8]:
import pandas as pd

# Load merged dataset
df = pd.read_csv(r"C:\Users\user\Downloads\merged_dataset.csv")  # Change to your actual path

# Drop unnecessary columns
df = df.drop(columns=["Unnamed: 0_x", "Unnamed: 0_y", "review", "rating_y"])

# Rename rating_x to rating
df = df.rename(columns={"rating_x": "rating"})

# Drop duplicate rows (optional)
df = df.drop_duplicates()

# Save cleaned dataset (optional)
df.to_csv("cleaned_recruitment_data.csv", index=False)

# Display cleaned dataset
print(df.head())

          name  rating          reviews company_type  \
0          TCS     3.9  (32.5k Reviews)       Public
3    Accenture     4.0  (22.5k Reviews)       Public
6    Cognizant     3.9  (20.8k Reviews)      Private
9   ICICI Bank     4.0  (27.7k Reviews)       Public
12   HDFC Bank     4.0  (28.4k Reviews)       Public

                     Head_Quarters   Company_Age  \
0    Mumbai,Maharashtra + 217 more  54 years old
3         Dublin,Dublin + 125 more  33 years old
6     Teaneck,New Jersey + 78 more  28 years old
9    Mumbai,Maharashtra + 925 more  28 years old
12  Mumbai,Maharashtra + 1007 more  28 years old

                  No_of_Employee  \
0      1 Lakh+ employees (India)
3      1 Lakh+ employees (India)
6      1 Lakh+ employees (India)
9   50k-1 Lakh employees (India)
12     1 Lakh+ employees (India)

                                  company description         salaries  \
0   IT Services & Consulting | 1 Lakh+ Employees |...  733.7k Salaries
3   IT Services & Consulting | 1 Lakh+ Employees |...  513.5k Salaries
6   IT Services & Consulting | 1 Lakh+ Employees |...  496.7k Salaries
9   Banking | 1 Lakh+ Employees | Public | 29 year...  137.2k Salaries
12  Banking | 1 Lakh+ Employees | Public | 29 year...  125.7k Salaries

   no. of job opening
0             45 Jobs
3          13.1k Jobs
6            510 Jobs
9            194 Jobs
12           403 Jobs